.news-tile .card-title {
    position: absolute;
    bottom: 15px;
    left: 40px;
}

.rgba-stylish-strong {
    background-color: rgba(62, 69, 81, .5);
}

img {
    object-fit: contain !important;
    width: auto !important;
    height: 20vh !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}